{% extends "layout/base.html" %}

{% block title %}
    Delete Product
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-danger my-4">Delete Product</h1>
        <div class="card col-4">
            <div class="card-body">
                <h5 class="card-title">Are you sure you want to delete the product "{{ product.name }}"?</h5>
                <form method="POST" action="{{ url_for('product.delete_product', product_id=product.id) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a href="{{ url_for('product.product_home') }}" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
{% endblock %}
