{% extends "layout/base.html" %}

{% block title %}
    Confirm Deletion
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-danger my-4">Confirm Deletion</h1>
        <div class="card col-3">
            <div class="card-body">
                <img src="{{ url_for('static', filename='products/images/' + (product.image if product.image else 'default_image.jpg')) }}" alt="Image" class="card-img-top" style="height: 200px;">
                <h5 class="card-title text-success">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <form method="POST">
                    <button type="submit" class="btn btn-danger my-3">Delete Product</button>
                    <a class="btn btn-primary" href="/products">cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}