{% extends "layout/base.html" %}

{% block title %}
    Product Details
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-danger my-4">Product Details</h1>
        <div class="card col-4">
            <div class="card-body">
                {% if product.image %}
                <img src="{{ url_for('static', filename='products/images/' + product.image) }}" alt="Image" class="card-img-top" style="height: 200px;">
                {% else %}
                {% endif %}
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Created at: {{ product.created_at }}</p>
            <p class="card-text">Updated at: {{ product.updated_at }}</p>
            </div>
            <a href="{{ url_for('products.product_home') }}" class="btn btn-primary">Back To All Product</a>

        </div>
    </div>
{% endblock %}
