{% extends "layout/base.html" %}

{% block title %}Edit Product{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center text-danger">Edit Product</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
            </div>

            <div class="form-group">
                <label for="section">Product Section</label>
                <input type="text" class="form-control" id="section" name="section" value="{{ product.section }}" required>
            </div>

            <div class="form-group">
                <label for="image">Product Image</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>

            <div class="form-group">
                <label for="description">Product Description</label>
                <textarea class="form-control" id="description" name="description" rows="4" required>{{ product.description }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary my-4">Update Product</button>
        </form>
    </div>
{% endblock %}
