{% extends "layout/base.html" %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center text-danger my-3">Edit Product</h1>
            <form method="POST" action="{{ url_for('products.edit_product', product_id=products.id) }}">
                <div class="form-group ">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control my-3" name="name" id="name" value="{{ products.name }}">
                </div>
                <div class="form-group">
                    <label for="image">Image URL:</label>
                    <input type="file" class="form-control my-3"  name="image" id="image" value="{{ products.image }}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control my-3" name="description" id="description">{{ products.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="section_id">Section:</label>
                    <select class="form-control" name="section_id" id="section_id">
                        {% for section in sections %}
                            <option value="{{ section.id }}" {% if section.id == products.section_id %}selected{% endif %}>{{ section.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary my-3">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
