{% extends "layout/base.html" %}

{% block content %}
    <h1 class="text-center text-danger">All Products</h1>

    <div class="container">
        <a href="{{ url_for('products.create_product') }}" class="btn btn-primary">Add New Product</a>

        <div class="row">
            {% for product in products %}
                <div class="col-md-4 my-3">
                    <div class="card my-3" style="height: 100%;">
                        <img src="{{ url_for('static', filename='products/images/' + (product.image if product.image else 'default_image.jpg')) }}" alt="Image" class="card-img-top" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{ product.name }}</h5>
                            <p class="card-text">Description: {{ product.description }}</p>
                            <p class="card-text">Created at: {{ product.created_at }}</p>
                            <p class="card-text">Updated at: {{ product.updated_at }}</p>
                            <div class="card-bottom text-center">
                                <a href="{{ url_for('products.product_details', product_id=product.id) }}" class="btn btn-primary mx-3">Details</a>
                                <a href="{{ url_for('products.edit_product', id=product.id) }}" class="btn btn-warning mx-3">Edit</a>
                                <form method="POST" action="{{ url_for('products.delete_product', product_id=product.id) }}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
